body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80
);
    background-repeat: no-repeat;
    background-size: cover;
}

div input {
    opacity: 0.8;
}

div label {
    font-size: large;
    font-weight: bold;
}

#generate {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: rgb(171, 137, 194);
    border-radius: 2em;
    transition: 0.4s linear;
}

#generate:hover {
    background-color: rgb(117, 88, 175);
}

#weatherData {
    background-color: rgb(171, 137, 194);
    border-radius: 3em;
    transition: 0.5s linear;
    display: none;
}

footer p {
    font-weight: bold;
}