body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/sunset-sky-panorama-scenic-sky-background-hanoh-iki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    main {
        width: 50%;

    }
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

div input {
    opacity: 0.8;
}

div label {
    font-size: large;
    font-weight: bold;
}

#generate {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: rgb(194, 137, 145);
    border-radius: 2em;
    transition: 0.4s linear;
}

#generate:hover {
    background-color: rgb(170, 99, 99);
}

#weatherData {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(194, 137, 145, 0.8);
    border-radius: 3em;
    transition: display 0.8s ease-out;
    display: none;
}

#weatherDet {
    padding-bottom: 1em;
}


#noteContainer {
    background-color: none;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: none;
}

#noteContainer .card {
    background-color: rgba(0, 0, 0, 0.6);
}

#noteContainer .card-header {
    background-color: rgb(194, 137, 145);
}

footer p {
    font-weight: bold;
}